<ul class="list-<%=info.type%>">
<% _.each(data, function(value) { %>
    <li data-href='<%= value.href %>'>
        <div class="list-container">
            <div class="info">
                <%= value.name %>
                <% if( !_.isUndefined(value.artists) ) {%>
                    <div class="artists-name"><%=value.artists[0].name %></div>
                <%}%>
            </div><div class="icon">
                <%if (info.type=="artist"){%>
                    <span class="fui-user"></span>
                <%}else if(info.type=="album"){%>
                    <span class="fui-radio-checked"></span>
                <%} else{%>
                    <span class="fui-radio-checked"></span>
                <%}%>
            </div>
        </div>
    </li>
    <%});%>
</ul> 