<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Loading Flat UI -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="appHeader">
        <div>Remote</div>
     </header>   
     <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="np">Now Playing</div>
                    <div id="song" class="song"></div>
                    <div>   
                         <div class="progress">
                            <div id="seek" class="bar" style="width:10%;"></div>
                          </div>
                    </div>
                 </div>   
                
            </div>
            <div class="row control">
                    <div  class="span12">
                        <div class="inner play-next-prev">
                            <div><span data-action="prev"  class="fui-arrow-left"></span>
                            </div><div><span data-action="playPause" class="fui-play"></span>
                            </div><div><span data-action="next" class="fui-arrow-right"></span></div>
                        </div>  
                    </div>   
                     <div class="span12">
                          <span class="fui-volume"></span>
                                  <div id="slider"></div>
                     </div>
                <div class="re-shuf">
                    <div>
                        <div>Repeat:</div>       
                     <div>
                            <input name="repeat" type="checkbox"  data-toggle="switch" />
                              
                    </div>
                </div><div>
                
                    <div>Shuffle</div>       
                     <div>
                 
                            <input name="shuffle" type="checkbox"  data-toggle="switch" />
                            
                    </div>
                </div>    
               </div>
            </div>
            </div>
            <div id='search'>
                <div class="container">
                    <form name='searchForm' id='searchForm'>
                        <input type='search' name="search"/>
                        <input type='submit' value='GO' class="btn">
                    </form>
                </div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#trackSearch" data-toggle="tab">Tracks</a></li>
                <li><a href="#artistSearch" data-toggle="tab">Artists</a></li>
                <li><a href="#albumSearch" data-toggle="tab">Albums</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="trackSearch">
                 
                </div>
                <div class="tab-pane" id="artistSearch">
                  
                </div>
                <div class="tab-pane" id="albumSearch">
              
                </div>
              </div>
            </div>

            </div>

    
    

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script>
        var room = '<%=room%>';
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
 
    <script src="js/frontend.js"></script>
  </body>
</html>