body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

$greenSea = #16A085

#appHeader
  background: $greenSea

#appHeader div
  color: #fff
  opacity: 0.8
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 30px;
  padding: 5px 0;  

.container
  width: 90%
  margin: 0 auto

.play-next-prev div
  display:inline-block
  width:33%;  
  text-align:center;

.re-shuf
  margin:15px 0

.re-shuf > div
  display:inline-block
  width:50%;  
  text-align:center;

//---------Tracks 
.nav-tabs
  margin:0
   
ul[class*='list-']
  margin:0;
  padding:0;
  list-style:none;  

ul[class*='list-'] li
  border-bottom: 1px solid #ddd
  font-weight:bold;
    
ul[class*='list-'] li > div
  width:95%;
  margin: 0 auto;
  
.artists-name
  font-weight:100;

.list-container > div
  display:inline-block
  vertical-align: middle

.info
  width:90%;

.icon
  width:10%;
  text-align:center;
    